<div class="flex items-center justify-center text-center h-screen bg-gray-50">
  <div class="m-auto">
    <h1 class="text-7xl mb-6 font-semibold">Hello There!</h1>
    <h4 class="text-base mb-5 text-stone-500">Let's buy some insurance. It is going to take only a few steps</h4>
    <a [routerLink]="ROUTE_URL['FinanceDetails']">
      <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-md text-sm px-20 py-3.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Start</button>
    </a>
  </div>
</div>