<div class="flex items-center justify-center text-center h-screen bg-gray-50">
  <div class="m-auto">
    <h1 class="text-5xl mb-6 font-semibold">Ooops</h1>
    <h4 class="text-base text-stone-500">Your age is over our accepted limit.</h4>
    <h4 class="text-base mb-5 text-stone-500">We are sorry but we cannot insure you now</h4>
    <button [routerLink]="ROUTE_URL['GetStart']" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-md text-sm px-24 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Ok :(</button>
  </div>
</div>